section#Sardor-1 {
  .container {
    font-family: sans-serif;
    text-align: center;
    border-radius: 20px;
    background: rgba(14, 16, 20, 0.9);
    border: 1px solid #4e4e4e;
    opacity: 0.93;
    h2 {
      margin-top: 1em;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: white;
    }
    .CardAll {
      padding: 3em;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 5em;
      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        text-align: center;
        letter-spacing: -0.750316px;

        color: #ffffff;
      }
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin: 0 auto;
        max-width: 290px;
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }
  @media (max-width: 900px) {
    .container {
      .CardAll {
        padding: 3em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
        gap: 5em;
      }
    }
  }
  @media (max-width: 700px) {
    .container {
      .CardAll {
        padding: 3em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        gap: 5em;
      }
    }
  }
}
section#Sardor-2 {
  margin-top: 4em;
  .container {
    text-align: center;
    h2 {
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      color: white;
      margin-bottom: 1em;
    }
    .slick-track {
        display: flex!important;
        gap: 5em!important;
      .card {
        margin: 0 auto;
        background-color: black;

        display: flex;
        flex-direction: column;
        gap: 2em;
        border-radius: 20px;
        border: 1px solid #4e4e4e;
        .card-text {
          padding: 1em 2em;
          display: flex;
          flex-direction: column;
          gap: 1em;
          text-align: start;
          h5 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: white;
          }
          p {
            font-style: normal;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: rgba(255, 255, 255, 0.541);
          }
          .card-div-text {
            display: flex;
            justify-content: space-between;
            span {
              font-style: normal;
              
              font-size: 16px;
              line-height: 19px;

              color: rgba(255, 255, 255, 0.541);
            }
          }
        }
      }
    }
  }
}
