
// Header

@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
nav#navbar {
  font-weight: 500;
  padding: 20px 0;
  background-color: #b3b3b3e9;
  position: sticky;
  top: 0;
  z-index: 9999;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul {
      list-style: none;
      gap: 20px;
      font-size: 20px;
      display: flex;
    }
    .rightSideNav {
      display: flex;
      align-items: center;
      .checkboxContainer {
        .checkbox {
          opacity: 0;
          position: absolute;
        }

        .label {
          width: 50px;
          height: 26px;
          background-color: #111;
          display: flex;
          border-radius: 50px;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          position: relative;
          transform: scale(1.5);
          cursor: pointer;
        }

        .ball {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: 2px;
          left: 2px;
          border-radius: 50%;
          transition: transform 0.2s linear;
        }

        /*  target the elemenent after the label*/
        .checkbox:checked + .label .ball {
          transform: translateX(24px);
        }

        .fa-moon {
          color: pink;
        }

        .fa-sun {
          color: yellow;
          padding-left: 10px;
        }
      }
      span.tel {
        margin: 0 10px 0 30px;
        white-space: nowrap;
        flex-direction: column;
        gap: 5px;
        .navMail {
          font-size: 10px;
        }
      }
      a.callBtn {
        padding: 10px;
        background-color: #6911ad;
        border-radius: 10px;
        font-size: 15px;
        white-space: nowrap;
        color: white;
      }
    }
  }
}
nav#nav2 {
  background-color: #b3b3b3e9;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px 0;
  font-size: 25px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .checkboxContainer {
      font-size: 17px;
        .checkbox {
          opacity: 0;
          position: absolute;
        }

        .label {
          width: 50px;
          height: 26px;
          background-color: #111;
          display: flex;
          border-radius: 50px;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          position: relative;
          transform: scale(1.5);
          cursor: pointer;
        }

        .ball {
          width: 20px;
          height: 20px;
          background-color: white;
          position: absolute;
          top: 2px;
          left: 2px;
          border-radius: 50%;
          transition: transform 0.2s linear;
        }

        /*  target the elemenent after the label*/
        .checkbox:checked + .label .ball {
          transform: translateX(24px);
        }

        .fa-moon {
          color: pink;
        }

        .fa-sun {
          color: yellow;
          padding-left: 10px;
        }
      }
    span.logo2 {
      font-family: Bangers;
      font-size: 45px;
    }
    .navUl {
      padding: 10px;
      position: absolute;
      inset: 0;
      width: 100vw;
      height: 100vh;
      background: rgba(0, 0, 0, 0.755);
      color: white;
      display: none;
      .nimadir {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
      }
      .nlink {
        font-weight: 700;
        font-size: 30px;
        padding-bottom: 30px;
      }
      .navulbtn {
        padding: 15px 24px;
        background-color: #6911ad;
        border-radius: 20px;
        margin-top: auto;
      }
    }
  }
  #navlabel:checked ~ .navUl {
    display: block;
  }
}
@media (max-width: 1000px) {
  nav#navbar {
    display: none;
  }
}
@media (min-width: 1000px) {
  nav#nav2 {
    display: none;}}

// Header end..

section#form {
    .container {
      border-radius: 20px;
      margin-top: 4rem;
      border: 2px solid grey;
      padding: 50px 80px;
      background-color: white;
  
      form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
  
        .left {
          .forma {
            width: 100%;
            margin-top: 10px;
            height: 40px;
            font-size: 22px;
            outline: none;
            border: none;
            border-bottom: 2px solid grey;
          }
          .checkboxFlex {
            display: flex;
            gap: 2rem;
          }
        }
        .right {
          .card {
            background-color: rgba(83, 83, 83, 0.1);
            border-radius: 10px;
            padding: 40px 60px;
            .ichimliklar {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap: 3rem;
              div {
                display: flex;
                flex-direction: column;
                align-items: center;
              }
            }
          }
          .purplebtn{
              margin-top: 1rem;
              color: black;
              padding: 18px 30px;
              border-radius: 30px;
              background-color: #6911ad;
              display: block;
              width: 10px;
              transition: all 0.3s;
              font-size: 22px;
              &:hover{
                  width: 170px;
                  color: white;
              }
          }
        }
      }
    }
  }
  
  section#footer{
      footer{
          padding: 2rem 2rem;
          border-radius: 20px 20px 0px 0px;
          margin-top: 5rem;
          background-color: white;
          ul{
              display: flex;
              justify-content: space-around;
              list-style-type: none;
              .li-location{
                  display: flex;
                  align-items: center;
                  gap: 25px;
              }
              .sotial{
                  display: flex;
                  align-items: center;
                  font-size: 23px;
                  gap: 1rem;
              }
          }
      }
  }
  
  // repsponsiv
  
  @media (max-width: 1024px) {
    // about company
    section#m-about-company {
      .container {
        h1 {
          text-align: center;
        }
        .body {
          grid-template-columns: repeat(1, 1fr);
          .status {
            margin-top: 20px;
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }
    }
    //   our advanteges
    section#our-advantages {
      .container {
        .cards {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  @media (max-width: 720px) {
    section#m-about-company {
      .container {
        h1 {
          font-size: 28px;
        }
        .body {
          .status {
            margin-top: 10px;
            grid-template-columns: repeat(2, 1fr);
            .liniar {
              font-size: 30px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
  @media (max-width: 500px) {
    section#our-advantages {
      .container {
        .cards {
          grid-template-columns: repeat(1, 1fr);
          :nth-child(even) {
            display: none;
          }
        }
      }
    }
  }