@import "home";
@import "news";
@import "portfolio";

.dark{
    background-color: #000 !important;
    color: white;
}
.btnClicked{
        color:white;
      background-image: linear-gradient(to bottom right,#6911ad, rgb(235, 81, 255));
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}

body{
    font-family: sans-serif;
}

.d-flex{
    display: flex;
}
.container{
    width:85%;
    margin: 0 auto;
}
@media (max-width:500px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
}
