@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
section#Sardor-1 {
  background: url("../assets/images/main_page/gradient.png");
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: right center;
}

section#Sardor-1 .container {
  font-family: sans-serif;
  text-align: center;
  border-radius: 20px;
  margin-top: 8em;
  opacity: 0.93;
}

section#Sardor-1 .container h2 {
  margin-top: 1em;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}

section#Sardor-1 .container .CardAll {
  border: 1px solid gray;
  border-radius: 20px;
  margin-top: 10px;
  padding: 3em;
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
  gap: 5em;
}

section#Sardor-1 .container .CardAll h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.750316px;
}

section#Sardor-1 .container .CardAll p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  margin: 0 auto;
  max-width: 290px;
}

@media (max-width: 900px) {
  section#Sardor-1 .container .CardAll {
    padding: 3em;
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 2fr;
    gap: 5em;
  }
}

@media (max-width: 700px) {
  section#Sardor-1 .container .CardAll {
    padding: 3em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
    gap: 5em;
  }
}

nav#navbar {
  font-weight: 500;
  padding: 20px 0;
  background-color: #b3b3b3e9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

nav#navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav#navbar .container ul {
  list-style: none;
  gap: 20px;
  font-size: 20px;
}

nav#navbar .container .rightSideNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


nav#navbar .container .rightSideNav .checkboxContainer .checkbox {
  opacity: 0;
  position: absolute;
}

nav#navbar .container .rightSideNav .checkboxContainer .label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

nav#navbar .container .rightSideNav .checkboxContainer .ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

nav#navbar .container .rightSideNav .checkboxContainer .checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

nav#navbar .container .rightSideNav .checkboxContainer .fa-moon {
  color: pink;
}

nav#navbar .container .rightSideNav .checkboxContainer .fa-sun {
  color: yellow;
  padding-left: 10px;
}

nav#navbar .container .rightSideNav span.tel {
  margin: 0 10px 0 30px;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}

nav#navbar .container .rightSideNav span.tel .navMail {
  font-size: 10px;
}

nav#navbar .container .rightSideNav a.callBtn {
  padding: 10px;
  background-color: #6911ad;
  border-radius: 10px;
  font-size: 15px;
  white-space: nowrap;
  color: white;
}

section#Sardor-2 {
  background: url("../assets/images/main_page/gradient.png") no-repeat;
  background-size: 500px;
  background-position: 200px center;
  margin-top: 4em;
}

section#Sardor-2 .container {
  text-align: center;
}

section#Sardor-2 .container h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 1em;
}

section#Sardor-2 .container .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  gap: 5em !important;
}

section#Sardor-2 .container .slick-track .card {
  margin: 0 auto;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  border-radius: 20px;
  border: 1px solid #4e4e4e;
}

section#Sardor-2 .container .slick-track .card .card-text {
  padding: 1em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  text-align: start;
}

section#Sardor-2 .container .slick-track .card .card-text h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

section#Sardor-2 .container .slick-track .card .card-text p {
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

section#Sardor-2 .container .slick-track .card .card-text .card-div-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#Sardor-2 .container .slick-track .card .card-text .card-div-text span {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

section#m-about-company {
  margin-top: 30px;
}

section#m-about-company .container h1 {
  font-weight: 600;
  font-size: 35px;
}

section#m-about-company .container .body {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

section#m-about-company .container .body .status {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(2, 1fr);
}

section#m-about-company .container .body .status .liniar {
  font-size: 40px;
  font-weight: 600;
  background: linear-gradient(96.96deg, rgba(0, 40, 248, 0.89) -0.76%, #6911ad 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

section#m-about-company .container .body .status .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#m-about-company .container .body .status .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#our-advantages {
  background: url("../assets/images/main_page/bgHeader.png") no-repeat;
  background-size: 700px;
  background-position: left center;
}

section#our-advantages .container {
  margin-top: 3rem;
}

section#our-advantages .container h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

section#our-advantages .container .cards {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

section#our-advantages .container .cards .card {
  border: 2px solid grey;
  padding: 30px;
  border-radius: 20px;
}

section#our-advantages .container .cards .card .hr {
  width: 80px;
  height: 5px;
  background-color: grey;
  border-radius: 10px;
}

section#form {
  background: url("../assets/images/main_page/gradient.png") no-repeat;
  background-position: center right;
  background-size: 600px;
}

section#form .container {
  border-radius: 20px;
  margin-top: 4rem;
  border: 2px solid grey;
  padding: 50px 80px;
}

section#form .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
}

section#form .container form .left .forma {
  width: 100%;
  margin-top: 10px;
  height: 40px;
  font-size: 22px;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
}

section#form .container form .left .checkboxFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

section#form .container form .right .card {
  background-color: rgba(83, 83, 83, 0.1);
  border-radius: 10px;
  padding: 40px 60px;
}

section#form .container form .right .card .ichimliklar {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

section#form .container form .right .card .ichimliklar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#nav2 {
  background-color: #b3b3b3e9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 10px 0;
  font-size: 25px;
}

nav#nav2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav#nav2 .container .checkboxContainer {
  font-size: 17px;
  /*  target the elemenent after the label*/
}

nav#nav2 .container .checkboxContainer .checkbox {
  opacity: 0;
  position: absolute;
}

nav#nav2 .container .checkboxContainer .label {
  width: 50px;
  height: 26px;
  background-color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  cursor: pointer;
}

nav#nav2 .container .checkboxContainer .ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

nav#nav2 .container .checkboxContainer .checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

nav#nav2 .container .checkboxContainer .fa-moon {
  color: pink;
}

nav#nav2 .container .checkboxContainer .fa-sun {
  color: yellow;
  padding-left: 10px;
}

nav#nav2 .container span.logo2 {
  font-family: Bangers;
  font-size: 45px;
}

nav#nav2 .container .navUl {
  padding: 10px;
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.755);
  color: white;
  display: none;
}

nav#nav2 .container .navUl .nimadir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

nav#nav2 .container .navUl .nlink {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 30px;
}

nav#nav2 .container .navUl .navulbtn {
  padding: 15px 24px;
  background-color: #6911ad;
  border-radius: 20px;
  margin-top: auto;
}

nav#nav2 #navlabel:checked ~ .navUl {
  display: block;
}

header#headerA {
  height: 90vh;
  background: url("../assets/images/main_page/bgHeader.png") no-repeat;
  background-position: 0 -100px;
  padding-bottom: 20px;
}

header#headerA .bgImage2 {
  background: url("../assets/images/main_page/bgHeader2.png") no-repeat;
  background-position: top right;
}

header#headerA .bgImage2 .container {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header#headerA .bgImage2 .container div.headerTxt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header#headerA .bgImage2 .container div.headerTxt h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 58.46px;
}

header#headerA .bgImage2 .container div.headerTxt p {
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 70px;
}

@media (max-width: 1000px) {
  header#headerA .bgImage2 .container div.headerTxt p {
    margin-bottom: 10px;
  }
}

header#headerA .bgImage2 .container div.headerTxt .purplebtn {
  color: #fff;
  padding: 18px 30px;
  border-radius: 30px;
  background-color: #6911ad;
  display: block;
  width: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header#headerA .bgImage2 .container div.headerTxt .purplebtn:hover {
  width: 150px;
}

@media (max-width: 1000px) {
  header#headerA .bgImage2 .container div.headerTxt .purplebtn {
    width: 150px;
    margin: 0 auto;
    text-align: center;
  }
}

header#headerA .bgImage2 .container .globe {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1000px) {
  header#headerA .bgImage2 .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  header#headerA {
    height: auto;
  }
}

@media (max-width: 1000px) {
  nav#navbar {
    display: none;
  }
}

@media (min-width: 1000px) {
  nav#nav2 {
    display: none;
  }
}

section#footer footer {
  padding: 2rem 2rem;
  border-radius: 20px 20px 0px 0px;
  margin-top: 5rem;
}

section#footer footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

section#footer footer ul .li-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

section#footer footer ul .sotial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
  gap: 1rem;
}

@media (max-width: 1024px) {
  section#m-about-company .container h1 {
    text-align: center;
  }
  section#m-about-company .container .body {
    
        grid-template-columns: repeat(1, 1fr);
  }
  section#m-about-company .container .body .status {
    margin-top: 20px;
    
        grid-template-columns: repeat(4, 1fr);
  }
  section#our-advantages .container .cards {
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px) {
  section#m-about-company .container h1 {
    font-size: 28px;
  }
  section#m-about-company .container .body .status {
    margin-top: 10px;
        grid-template-columns: repeat(2, 1fr);
  }
  section#m-about-company .container .body .status .liniar {
    font-size: 30px;
    margin-top: 10px;
  }
}

@media (max-width: 500px) {
  section#our-advantages .container .cards {
    
        grid-template-columns: repeat(1, 1fr);
  }
  section#our-advantages .container .cards :nth-child(even) {
    display: none;
  }
}

section#loyihalar {
  margin: 40px 0 20px;
}

section#loyihalar h2 {
  text-align: center;
}

section#loyihalar .btns {
  border: 1px solid;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
  width: 40%;
  margin: 15px auto;
}

section#loyihalar .btns button {
  padding: 15px 25px;
  background-color: transparent;
  border: none;
  border-radius: 25px;
}

section#loyihalar .projectCards {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
}

section#loyihalar .projectCards .prCard {
  position: relative;
}

section#loyihalar .projectCards .prCard p {
  position: absolute;
  background-color: #fff;
  color: #111 !important;
  padding: 10px;
  border-radius: 15px;
  top: 15px;
  right: 15px;
}

section#loyihalar .allbtnwrapper {
  text-align: center;
  margin: 15px 0;
}

section#loyihalar .allbtnwrapper button#all2 {
  padding: 15px 25px;
  background-color: #6911ad;
  white-space: nowrap;
  width: 10px;
  text-align: center;
  color: #000;
  border: none;
  border-radius: 25px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

section#loyihalar .allbtnwrapper button#all2:hover {
  width: 160px;
  color: #fff;
}

.dark {
  background-color: #000 !important;
  color: white;
}

.btnClicked {
  color: white;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#6911ad), to(#eb51ff));
  background-image: linear-gradient(to bottom right, #6911ad, #eb51ff);
}

section#New .container {
  padding: 1em;
}
section#New .container .flex {
  display: flex;
  flex-direction: row;
  gap: 2em;
  height: auto;
}
section#New .container .flex .new-1 {
  width: 70%;
}
section#New .container .flex .new-1 .flex2 {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
section#New .container .flex .new-1 .card-max {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: 2px solid #4e4e4e;
  border-radius: 20px;
  padding: 2em;
}
section#New .container .flex .new-1 .card-max p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgb(133, 133, 133);
}
section#New .container .flex .new-1 .card-max .flex-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section#New .container .flex .new-1 .card-max .flex-3 span {
  color: rgb(133, 133, 133);
}
section#New .container .flex .new-2 {
  width: 25%;
}
section#New .container .flex .new-2 .flex2 {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
section#New .container .flex .new-2 .flex2 .card-min {
  border: 2px solid #4e4e4e;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  transition: all 0.3s;
}
section#New .container .flex .new-2 .flex2 .card-min:hover {
  box-shadow: 3px 3px 24px 8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 3px 24px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 24px 8px rgba(0, 0, 0, 0.75);
}
section#New .container .flex .new-2 .flex2 .card-min p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 5px 2em;
}
@media (max-width: 990px) {
  section#New .container .new-1 {
    min-width: 100%;
  }
  section#New .container .new-2 {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: sans-serif;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
/*# sourceMappingURL=main.css.map */