@import "home";
@import "portfolio";
@import "news";

.dark{
    background-color: #000 !important;
    color: white;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    max-height: 100%;
}

body{
    font-family: sans-serif;
    background-image: url(/assets/images/Noise.png);
}

.d-flex{
    display: flex;
}

.container{
    width:85%;
    margin: 0 auto;
}
@media (max-width:500px) {
    .container{
        width: 100%;
        padding: 0 10px;
    }
}
